body, html {
  height: 100%;
  font-family: 'Nunito', sans-serif;  
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  padding:0;
  font-size:14px;
}
body.gridmode div {
  border: 0.5px solid red;
  box-sizing:border-box;
}
b {font-weight:700;}

input:focus,textarea:focus,button:focus {
  outline:0px;
}
table {
  border-collapse:collapse;
  width:100%;
}
table thead td {
  font-size:12px;
  color: rgba(34, 46, 64, 0.4);
  padding:10px 0;
}
table tbody td {
  border-top:1px solid #F5F5F5;
  padding:10px 0;
}

table.fat tbody td {
  padding:20px 0;
}

table tbody td.avatar {
  width:50px;
}
table.fat tbody td.avatar {
  width:70px;
}
table tbody td.avatar.overlap {
  width:80px;
}
table.fat tbody td.avatar img {
  width:50px;
  height:50px;
}
table tbody td.avatar.overlap img:last-child {
  margin-left:-10px;
}
table tbody tr:last-child td  {
  padding-bottom:0px;
}
table tbody td.avatar img {
  width:40px;
  height:40px;
  border-radius:40px;
  object-fit:cover;
  vertical-align:middle;
}
/* 
img{

  width:40px;
  height:40px;
  border-radius:40px;
  object-fit:cover;
  vertical-align:middle;
} */


.m-5 {margin-bottom:5px;}
.m-10 {margin-bottom:10px;}
.m-20 {margin-bottom:20px;}
.t-center {text-align:center;}
.t-right {text-align:right;}
.t-left {text-align:left;}

.button {
  transition:0.3s ease opacity;
  background-color:transparent;
  border:0;
  -webkit-appearance:none;
  background-repeat:no-repeat;
  background-position:center;
  display:inline-block;
}
.button.range {background-image:url(../images/icon-range.png);}
.button.search {background-image:url(../images/icon-search.png);}
.button.settings {background-image:url(../images/icon-settings.png);}
.button.actions {background-image:url(../images/icon-actions.png);}
.button.tolist {background-image:url(../images/icon-tolist.png);}

.button:hover {
  cursor:pointer;
}

.pointer {
  background-image:url(../images/icon-drop.png);
  background-position:center right;
  background-size:8px;
  background-repeat:no-repeat;
  opacity:0.4;
  transition:0.3s ease opacity;
  position:absolute;
  right:0;
  top:0;
  height:100%;
}
.pointer:hover {
  opacity:0.7;
  cursor:pointer;
}
.brllr-pagination {
  display:inline-block;
  margin:0;
  padding:0;
}
.brllr-pagination li {
  display:inline-block;
  width:28px;
  height:28px;
  border-radius:14px;
  text-align:center;
  line-height:26px;
  background-color:#EEF0F4;
  border:2px solid #EEF0F4;
  box-sizing:border-box;
  margin:0 0 0 5px;
  color: rgba(34, 46, 64, 0.6);
  font-weight:700;
}
.brllr-pagination li.active {
  border-color:#222E40;
  background-color:transparent;
  color: rgba(34, 46, 64, 1);
}
.brllr-listfilters::before {
  content:"Filters ";
  color: rgba(34, 46, 64, 0.4);
  font-weight:700;
}
.brllr-listfilters div {
  display:inline-block;
  padding:5px 15px;
  background-color:#F4F4F4;
  color: rgba(34, 46, 64, 1);
  font-size:14px;
  border-radius:40px;
  margin:3px;
  position:relative;
}

.brllr-listfilters div.active {
  background-color: rgba(34, 46, 64, 1);
  color:#fff;
  padding:5px 30px 5px 15px;
}
.brllr-listfilters div.active::after {
  position:absolute;
  top:4px;
  right:12px;
  content:"x";
}
.brllr-databar .container {
  width:100%;
  padding:4px;
  border-radius:10px;
  background-color:#F8F8F8;
}
.brllr-databar .container .bar {
  background-color:#3624A6;
  height:7px;
  min-width:6px;
  width:50%;
  border-radius:4px;
}

.brllr-userpie {
  width:150px;
  height:150px;
  padding:30px;
  box-sizing:border-box;
  display:inline-block;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.brllr-userpie img {
  width:100%;
  height:100%;
  border-radius:50px;
  object-fit:cover;
}
.brllr-drop {
  display:inline-block;
  padding-right:15px;
  position:relative;
  vertical-align:middle;
  margin-right:15px;
}
.brllr-drop:hover {
  cursor:pointer;
}
.brllr-drop .pointer {
  width:15px;
}
.brllr-vislegend {
  margin:0;
  padding:0;
  text-align:center;
  color: rgba(34, 46, 64, 0.4);
  font-weight:600;
  font-size:12px;
}
.brllr-vislegend li {
  display:inline-block;
  margin:1px 5px;
}
.brllr-vislegend li::before { 
  content: "\2022"; 
  font-size: 22px; 
  line-height:12px;
  padding-right: 4px; 
  position: relative;
  top:2px;
}
.brllr-vislegend li.anger::before {color: #F4514F;}
.brllr-vislegend li.fear::before {color: #33A792;}
.brllr-vislegend li.sadness::before {color: #8875FF;}
.brllr-vislegend li.tentative::before {color: #FFBC6E;}
.brllr-vislegend li.joy::before {color: #09C3EC;}
.brllr-vislegend li.confident::before {color: #D02E8F;}
.brllr-vislegend li.analytical::before {color: #EFEFEF;}

.brllr-tonetag {
  display:inline-block;
  padding:4px 8px;
  font-size:12px;
  font-weight:700;
  margin:0 1px;
  border-radius:5px;
}
.brllr-tonetag.anger {color:#60110D;background-color:#F4514F;}
.brllr-tonetag.fear {color:#1F5C51;background-color:#33A792;}
.brllr-tonetag.sadness {color:#3624A6;background-color:#8875FF;}
.brllr-tonetag.tentative {color:#8C4F07;background-color:#FFBC6E;}
.brllr-tonetag.joy {color:#fff;background-color:#09C3EC;}
.brllr-tonetag.confident {color:#fff;background-color:#D02E8F;}
.brllr-tonetag.analytical {color:#8B8B8B;background-color:#EFEFEF;}

.brllr-tonetag.anger::before {content:"Anger";}
.brllr-tonetag.fear::before {content:"Fear";}
.brllr-tonetag.sadness::before {content:"Sadness";}
.brllr-tonetag.tentative::before {content:"Tentative";}
.brllr-tonetag.joy::before {content:"Joy";}
.brllr-tonetag.confident::before {content:"Confidence";}
.brllr-tonetag.analytical::before {content:"Analytical";}

.brllr-visfilter {
  border:1px solid #F5F5F5;
  border-radius:100px;
  display:inline-block;
  padding:0 10px;
}
.brllr-visfilter div, .brllr-visfilter input {
  display:inline-block;
  vertical-align:middle;
  
}
.brllr-visfilter > div {
  color: rgba(34, 46, 64, 0.4);
  font-weight:600;
  font-size:12px;
  padding:8px;
}
.brllr-visfilter .name {
  border-right:1px solid #F5F5F5;
  color: rgba(34, 46, 64, 0.7);
  font-weight:700;
}
.brllr-visfilter input {
  -webkit-appearance: none;
  background-color: #fff;
  border: 3px solid #fff;
  box-shadow: none;
  width:16px;
  height:16px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #f5f5f5;
  position: relative;
  transition:0.3s ease background;
}
.brllr-visfilter input:checked {
  background-color: #f5f5f5;
}
  .brllr-visfilter .check.pos input:checked {background-color: #09C3EC;}
  .brllr-visfilter .check.mix input:checked {background-color: #FFBC6E;}
  .brllr-visfilter .check.neg input:checked {background-color: #F4514F;}


.brllr-overlay {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:100;
  pointer-events:none;
  opacity:0;
  background-color:#000;
  transition:0.3s ease opacity;
}
body.activedrop .brllr-overlay {
  opacity:0.1;
  pointer-events:auto;
}
.brllr-dropdown {
  position:absolute;
  top:0;
  left:0;
  z-index:110;
  pointer-events:none;
  opacity:0;
  transition: 0.3s ease opacity;
}
body.activedrop .brllr-dropdown {
  opacity:1;
  pointer-events:auto;
}

.brllr-nav {
  position: fixed;
  top:0;
  left:0;
  width:225px;
  height:100%;
  z-index:20;
  transition:0.3s ease transform;

  /* Gradient Fill */
  background: #35395c;
  background: -moz-linear-gradient(top, #35395c 0%, #2a2d44 100%);
  background: -webkit-linear-gradient(top, #35395c 0%,#2a2d44 100%);
  background: linear-gradient(to bottom, #35395c 0%,#2a2d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35395c', endColorstr='#2a2d44',GradientType=0 );
}
  .brllr-nav .navitems { 
    padding:0;
    margin:0;
    color:#fff;
    list-style:none;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 0.13em;
    text-transform:uppercase;
  }
    .brllr-nav .navitems > li {
      padding:20px 0 20px 53px;
      border-right:4px solid transparent;
      transition: 0.3s ease border, 0.3s ease background;
      background-size:18px;
      background-position:20px 21px;
      background-repeat:no-repeat;
      box-sizing:border-box;
      overflow:hidden;
    }
    .brllr-nav .navitems li.overview {background-image:url(../images/icon-overview.png);}
    .brllr-nav .navitems li.clients {background-image:url(../images/icon-clients.png);}
    .brllr-nav .navitems li.relationships {background-image:url(../images/icon-relationships.png);}
    .brllr-nav .navitems li.interactions {background-image:url(../images/icon-interactions.png);}
    .brllr-nav .navitems li.team {background-image:url(../images/icon-team.png);}
    .brllr-nav .navitems li.profile {background-image:url(../images/icon-profile.png);}

    .brllr-nav .navitems > li:hover {
      background-color:rgba(0,0,0,0.1);
      cursor:pointer;
    }
    .brllr-nav .navitems > li.active {
      background-color:rgba(0,0,0,0.2);
      border-color:#09C3EC;
    }
    .brllr-nav .navitems ul {
      padding:0;
      margin:10px 0 0 0;
      list-style:none;
      font-weight: 500;
      font-size: 14px;
      color: rgba(255,255,255,0.5);
      transition: 0.3s ease color;
      letter-spacing: normal;
      text-transform: capitalize;
    }
      .brllr-nav .navitems ul li {
        padding:2px 0;
      }
      .brllr-nav .navitems ul li:hover {
        color: #fff;
      }

.brllr-logo {
  background-image:url(../images/logo-briller.png);
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  height:44px;
  margin:30px 0;

}
.brllr-content {
  position: fixed;
  top:0;
  width:100%;
  padding-left:225px;
  height:100%;
  overflow:scroll;
  z-index:10;
  background-color: #FCFDFF;
  transition:0.3s ease transform;
  box-sizing:border-box;
}

  .brllr-content > .header {
    display: flex;
    padding:50px;
    box-sizing:border-box;
  }
    .brllr-content > .header .pagetitle {
      flex-grow: 1;
    }
    .brllr-content > .header .controls {
      padding:0 10px;
    }
      .brllr-content > .header .controls .button {
        width:50px;
        height:50px;
        background-size:18px;
        opacity:0.2;
        vertical-align:middle;
      }
      .brllr-content > .header .controls .button:hover {
        opacity:0.7;
      }
      .brllr-content > .header .user-image {
        width:40px;
        height:40px;
        margin:5px 10px;
        border:3px solid #fff;
        border-radius:40px;
        object-fit:cover;
        box-shadow: 1px 1px 14px rgba(34, 46, 64, 0.2);
        box-sizing:border-box;
      }
      .brllr-content > .header .user-info {
        padding:10px 25px 10px 0;
        position:relative;
      }
      .brllr-content > .header .user-info .pointer {
        width:25px;
      }

  .brllr-content > .body {
    padding:0 35px;
    overflow:visible;
  }
  .brllr-content > .body .column {
    width:100%;
    float:left;
    padding:0 15px;
    box-sizing:border-box;
  }
  .brllr-content > .body .column.half {width:50%;}
  .brllr-content > .body .column.fourth {width:25%;}
  .brllr-content > .body .column.twofourth {width:50%;}
  .brllr-content > .body .column.third {width:33.33%;}
  .brllr-content > .body .column.twothird {width:66.66%;}


.brllr-t-subtext {
  color: rgba(34, 46, 64, 0.4);
  font-size: 12px;
  line-height:1.1em;
}
  .brllr-t-subtext.lg {font-size:14px;}
.brllr-t-pagetitle {
  color: rgba(34, 46, 64, 1);
  font-size: 28px;
  line-height:1.1em;
}
.brllr-t-copy {
  color: rgba(34, 46, 64, 1);
  font-size: 14px;
  line-height:1.2em;
}
  .brllr-t-copy.lg {font-size: 18px;}
  .brllr-t-copy.light, .brllr-t-copy .light {
    color: rgba(34, 46, 64, 0.4);
  }
.brllr-t-data {
  color: rgba(34, 46, 64, 1);
  font-size: 38px;
  font-weight: 600;
  line-height:1.1em;
}
  .brllr-t-data.md {font-size:26px;}
  .brllr-t-data.sm {font-size:20px;font-weight:700;}
  .brllr-t-data.health.pos {color: #09C3EC;}
  .brllr-t-data.health.mix {color: #FFBC6E;}
  .brllr-t-data.health.neg {color: #F4514F;}

.brllr-t-label {
  color: rgba(34, 46, 64, 0.4);
  font-size: 12px;
  font-weight: 600;
  line-height:1.1em;
}

.brllr-datapoint {
  text-align:center;
  flex: 1;
}
.flexcenter .brllr-datapoint {
  flex: 0;
  margin:0 15px;
}
.brllr-box {
  background-color:#fff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom:30px;
}
  .brllr-box > .inner {
    padding:24px;
    overflow:hidden;

  }
  .brllr-box > .item {
    padding:12px 20px;
    font-weight:500;
    color: rgba(34, 46, 64, 0.4);
  }
  .brllr-box > .item.active {
    font-weight:700;
    color: rgba(34, 46, 64, 1);
  }
  .brllr-box > .inner.border, .brllr-box > .item.border {
    border-top: 1px solid #F5F5F5;
  }
  .brllr-box > .inner.flex, .brllr-box .inner .column.flex {
    display:flex;
  }
  .brllr-box > .inner.flexcenter, .brllr-box .inner .column.flexcenter {
    justify-content: center;
  }
  .brllr-box .header {
    display: flex;
    padding:20px 24px 0;
  }
    .brllr-box .header .sort {
      flex-grow: 1;
    }

    .brllr-box .header .actions {
      
    }
      .brllr-box .header .actions .button {
        width:13px;
        height:13px;
        background-size:13px;
        opacity:0.2;
      }
      .brllr-box .header .actions .button:hover {
        opacity:1;
      }


@media (max-width: 1200px) {
  .brllr-nav {width:75px;}
  .brllr-nav .navitems > li {
    padding:0 0 0 71px;
    height:71px;
    width:75px; 
    background-size:23px;
    background-position:26px 24px;
    opacity:0.6;
  }
  .brllr-nav .navitems > li.active {
    opacity:1;
  }
  .brllr-nav .navitems > li:hover {
    opacity:1;
  }
  .brllr-logo {
    background-image:url(../images/logo-briller-small.png);
    height:22px;
    margin:40px 0;
  }
  .brllr-content {padding-left:75px;}

}
@media (max-width: 1000px) {
  .brllr-content > .body .column.half {width:100%;}
  .brllr-content > .body .column.fourth {width:100%;}
  .brllr-content > .body .column.twofourth {width:100%;}
  .brllr-content > .body .column.third {width:100%;}
  .brllr-content > .body .column.twothird {width:100%;}

  .brllr-content > .header {
    flex-wrap:wrap;
  }
}
@media (max-width: 500px) {
  .brllr-nav {transform:translateX(-225px);}
  .brllr-content {padding-left:0px;}
}